[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/omar/Desktop/Untiteled 4.txt]
row=2
col=7

[/home/omar/Desktop/sublime_text.desktop]
row=5
col=0

[/home/omar/Desktop/sublime-text.desktop]
row=2
col=0

[/home/omar/Desktop/sublime.desktop]
row=2
col=1

[/home/omar/Desktop/table-test.txt]
row=3
col=1

[01D24AD79000C7C0]
row=3
col=0

[945A559F5A557F44]
row=5
col=2

[326 MB Volume]
row=1
col=0

[1C11-C180]
row=4
col=0

[1950a583-8f1e-4cd1-bf36-3135db6a4076]
row=0
col=0

[Trash]
row=3
col=11

[/]
row=0
col=1

[/home/omar]
row=1
col=1

